<br>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <input formControlName="customerName" placeholder="Customer Name">
  <input formControlName="location" placeholder="Location">
  <div formArrayName="details" *ngFor="let item of form.get('details').controls; let i = index;">
    <div [formGroupName]="i">
      <input formControlName="area" placeholder="Area">
      <input formControlName="areaName" placeholder="Area Name">
      <input formControlName="width" placeholder="Width">
      <input formControlName="length" placeholder="Length">
      <ngbd-modal-component [areaID]="item.get('area').value" [areaName]="item.get('areaName').value" (notifyParent)="onNotify($event)"></ngbd-modal-component>
      <a (click)="deleteDetail(i)" class="btn btn-primary btn-sm">X</a>
    </div>
  </div>
</form>
<button (click)="addDetail()">Add Details</button>
<br>
{{ form.value | json}}