<br>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input formControlName="customerName" placeholder="Customer Name">
    <input formControlName="location" placeholder="Location">
    <div formArrayName="details"
    *ngFor="let item of form.get('details').controls; let i = index;">
    <div [formGroupName]="i">
      <input formControlName="area" placeholder="Area">
      <input formControlName="width" placeholder="Width">
      <input formControlName="length" placeholder="Length">
      <a (click)="deleteDetail(i)" class="btn btn-primary btn-sm">X</a>
    </div>
  </div>
</form>
<button (click)="addDetail()">Add Details</button>
<br>
{{ form.value | json}}

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>One fine body&hellip;</p>
      <input id="modalText" name="modalText" placeholder="modal text">
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c(modalText)">Close</button>
    </div>
  </ng-template>
  
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
  
  <hr>
  
  <pre>{{closeResult}}</pre>