<div class="panel panel-default">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
        <div [formGroup]="partGroup">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" formControlName="isSelected"> {{partGroup.get('name').value}} 
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    Coat Level :
                    <div *ngFor="let coat of part.coats" class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="coatLevel">
                        <label ngbButtonLabel class="btn-primary">
                            <input ngbButton type="radio" [value]="coat.id"> {{coat.name}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>